<html>
  <head>
    <title> Login Page </title>
  </head>
  <body>
    <h1> This is Header </h1>
      <% if(user) { %>
        <a href = "/logout" %> style = "padding : 50px"> Logout </a>
      <% } else { %>
        <a href = "/register" %> style = "padding : 50px"> Register </a>
        <a href = "/login" style = "padding : 50px"> Login </a>
      <% } %>
  </body>
</html>