<html>
  <head>
    <title> Login Page </title>
  </head>
  <body>
    <% if(user) { %>
      <h4 style = "padding : 20px 10px"> <%= user.email %> </h4>
      <a href="/urls" style = "padding : 20px 10px"> My URL's </a>
      <a href = "/logout" %> style = "padding : 15px 15px"> Logout </a>
    <% } else { %>
      <a href = "/register" %> style = "padding : 15px 15px"> Register </a>
      <a href = "/login" style = "padding : 15px 15px"> Login </a>
    <% } %>
  </body>
</html>