<html>
  <head>
  </head>
  <body>
      <form action="/login" method="POST" style="margin:20px">
        <br>
          <label for="userName" align = "left">Enter UserName : </label>
          <input type=email name=email style="width = 100px">
        </br>
        <br>
          <label>Enter Password : </label>
          <input type=password name=password style="width = 100px"> </li>
        </br>
        <br> <button id="submit"> Submit </button> </br>
      </form>
  </body>
</html>
