<!DOCTYPE html>
<html>
  <head>
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="/styles/register.css" />
  </head>
  <body>
    <form action="/register" method="POST" style="padding:20px"> 
      <div class="register">
        <h1>Registration</h1>
        <input type=email name=email  placeholder="E-mail">
        <input type=password name=password  placeholder="Password">
        <button type=submit> Submit </button>
        <a href="/login" type="Submit" style="color: lightgoldenrodyellow">Login</a>

      </div>
    </form>
    
  </body>
</html>

