<!DOCTYPE html>
<html>
  <head>
    <title>Registration</title>
  </head>
  <body>
    <form action="/register" method="POST" style="padding:20px">
      <h3>Enter Email: <input type=email name=email style="width = 200px" placeholder="E-mail"></h3>
      <h3>Enter Password: <input type=password name=password style="width = 200px" placeholder="Password"> </h3>
      <button type=submit> Submit </button>
      </ul>
    </form>
  </body>
</html>