<!DOCTYPE html>
<html>
  <head>
    <title>Registration</title>
  </head>
  <body>
    <form action="/register" method="POST" style="padding:20px">
      <ul>
        <li>Enter Email: <input type=email name=email style="width = 100px"></li>
        <li>Enter Password: <input type=password name=password style="width = 100px"> </li>
        <button type=submit> Submit </button>
      </ul>
    </form>
  </body>
</html>