<!DOCTYPE html>
<html lang='en'>
  <head>
    <link rel="stylesheet" type="text/css" href="/styles/urls_new.css" />
  </head>
  <body>
    <div>
    <header> <% include partials/_header %> </header>
    <form action="/abcd" method="POST">
      <input id="longURL" type="text" name="longURL" placeholder="Enter Long URL you want to save ">
      <button type="submit" value="Submit">Submit </button>
    </form>
    </div>
  </body>
<html>